body{
    width: 100%;
    margin: 0;
    background-color: #e0e0e0;
}
header{
    background-color: rosybrown;
}
footer{
    background-color: rosybrown;
}

#logo{
    width: 60px;
    height: 60px;
}
#hotelImg{
    width: 500px;
    height: 500px;
    margin: 2% 4% 0% 4%;
}
.socialLogo{
    width: 22px;
    height: 20px;
}
#hotelDescription{
    margin: 1% 4% 2% 4%;

}
#form{
    margin: 0% 4% 1% 4%;
}