body{
    width: 100%;
    margin: 0;
    background-color: #e0e0e0;
    font-family: Ubuntu, sans-serif;
}

header{
    
        background-color: rosybrown;
        position: fixed; 
        top: 0;
        width: 100%;
    } 

.mainContent{

    display: flex;
    justify-content: center;
}
.imageContent{
    flex-grow: 1;
    
}
.bookSuccess:hover{
    background-color: green;
    color:#e0e0e0 ;
}


#login{
    position: absolute;
    left: 93%;
    top: 16px;
    color: black;
}
footer{
    background-color: rosybrown;
    position: fixed; 
    bottom: 0;
    width: 100%;
    height: 7%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

}
#socialLogos{
   
    margin-right: 2%;
    margin-top:0.8%;

}
#copyright{
    
    margin: auto 0;
}
#contact{
    color: black;
    margin-left: 2%;
    margin-top:0.5%;

}
a:link {
    text-decoration: none;
  }

#logo{
    width: 60px;
    height: 60px;
}
.hotelImg{
    width: 500px; 
    height: 350px;
    margin: 2% 4% 0% 20%;
}
.checked {
    color: orange;
  }
#form{
    margin: 2% 15% 0% 10%;
    display: flex;
    align-content: space-around;
   
}
.socialLogo{
    width: 22px;
    height: 20px;
}
#hotelDescription{
    margin: 4% 3% 2% 5%;

}

.content{
    margin: 100px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  
  
  .bottom{
    background-color: rosybrown;
    margin: 2%;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .bottom > div{
    padding-top:1%;
    margin: 0 2%;
  }
  
  b{
    font-family: cursive;
  }
  #loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #444444;
  
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
  
  .center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  
  
