body{
    width: 100%;
    margin: 0;
    background-color: #e0e0e0;
    font-family: Ubuntu, sans-serif;
}
header{
    
        background-color: rosybrown;
        position: fixed; 
        top: 0;
        width: 100%;  
    
}
#login{
    position: absolute;
    left: 95.8%;
    top: 21px;
    color: black;;
}
#socialLogos{
   
    margin-right: 2%;
    margin-top:0.8%;

}
#copyright{
    
    margin: auto 0;
}
#contact{
    color: black;
    margin-left: 2%;
    margin-top:0.8%;

}
a:link {
    text-decoration: none;
  }
  footer{
    background-color: rosybrown;
    position: fixed; 
    bottom: 0;
    width: 100%;
    height: 6%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

}

content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
#logo{
    width: 60px;
    height: 60px;
}
#paymentMain{
    width: 50%;
   
    margin: 0 auto;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
}
.paymentDetails{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-between;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5%;
    background-color: rosybrown;
}
#hotelImg{
    width: 300px;
    height: 270px;
}
.city{
    width: 150px;
    height: 150px;
}
.socialLogo{
    width: 22px;
    height: 20px;
}