body{
    width: 100%;
    margin: 0;
    background-color: #e0e0e0;
    font-family: Ubuntu, sans-serif;
}
header{
    
        background-color: rosybrown;
        position: fixed; 
        top: 0;
        width: 100%;  
    
}
#login{
    position: absolute;
    left: 95.8%;
    top: 21px;
    color: black;;
}
#socialLogos{
    margin : 8px 2.5px 2.5px 1420px ;

}
#copyright{
    margin-left: 43%;
    margin-bottom: 0;
    font-size: 13px;
}
#contact{
    color: black;
    margin : 15px 10px 5px 10px ;

}
a:link {
    text-decoration: none;
  }
footer{
    
    background-color: rosybrown;
    position: fixed; 
    bottom: 0;
    width: 100%;
}
#logo{
    width: 60px;
    height: 60px;
}
#paymentMain{
    width: 50%;
    margin: 0 auto;
    background-color: rgb(132,136,139);
    margin-bottom: 2%;
}
#hotelImg{
    width: 500px;
    height: 500px;
}
.city{
    width: 150px;
    height: 150px;
}
.socialLogo{
    width: 22px;
    height: 20px;
}